* {
    margin: 0;
    padding: 0;
  }
  body,
  html {
    height: 100%;
    width: 100%;
    background-color: #f1f1f1;
  }
  .logo {
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 26px;
    text-align: center;
  }
  .logo > img {
    height: 46px;
    width: 49px;
  }
  .text {
    margin: 0 auto;
    height: 26px;
    font-size: 18px;
    width: 600px;
    text-align: center;
  }
  .box {
    height: 520px;
    width: 330px;
    padding: 25px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 22px;
    border-radius: 20px;
  }
  h2 {
    margin: 10px 0 50px 0;
  }
  #input1,
  button {
    width: 330px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
    font-size: 18px;
    margin: 5px 0;
  }
  #input1 {
    box-sizing: border-box;
    padding-left: 10px;
  }
  #reg {
    background-color: #027aae;
  }
  #reg:hover {
    background-color: #035c84;
  }
  #remember-me {
    height: 15px;
    width: 15px;
    margin: 10px 15px 0 10px;
  }
  .other-methods {
    height: 25px;
    width: 100%;
    text-align: center;
  }
  button{
    line-height: 44px;
    position: relative;
    background-color: #fff;
  }
  button:hover{
    background-color: #f8f1f1;
  }
  button>img{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 30px;
    top: 2px;
  }
  a{
    color: #0096d6;
    text-decoration: none;
  }
  span{
    float: right;
    height: 30px;
    width: 38px;
    line-height: 36px;
  }